@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: white;
  background-color: #ed563b;
}

.active {
  color: #ed563b;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1614928228253-dc09cbc3b11c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  color: white;
  background-color: rgba(0, 0, 0, 0.601);
  padding: 1.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.577) 0px 7px 29px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.nav_content > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  text-transform: uppercase;
}

.nav_content > ul > li {
  cursor: pointer;
  transition: 0.3s ease;
}

.nav_content > ul > li:hover {
  color: #ed563b;
}

.nav_content > ul > li:last-child {
  background-color: #ed563b;
  padding: 10px 20px;
}

.nav_content > ul > li:last-child:hover {
  color: #ffdcd5;
}

.nav_menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.header_content {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header_content > h4 {
  font-size: 1.5rem;
}

.header_content > h1 {
  margin: 1rem 0;
  font-size: 4rem;
}

.header_content > button {
  padding: 10px 20px;
  background-color: #ed563b;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.program_section {
  padding: 7rem 1rem;
  text-align: center;
}

.program_section > h2 {
  font-size: 2rem;
}

.program_section > img {
  margin: 10px 0;
}

.program_section > p {
  font-size: 14px;
  color: #afafaf;
}

.program_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}

.program {
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 550px;
}

.program_info > p {
  font-size: 14px;
  color: #afafaf;
  margin: 3px 0;
}

.program_info > a {
  text-decoration: none;
  color: #ed563b;
  text-transform: uppercase;
}

.banner_container {
  background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg);
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.banner_container > h1 {
  font-size: 2.3rem;
}

.banner_container > p {
  margin: 15px 0;
}
.banner_container > button {
  padding: 10px 25px;
  font-size: 15px;
  color: white;
  background-color: #ed563b;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.banner_container > button:hover {
  background-color: #f08875;
}

.clasess_section {
  padding: 1rem;
  padding: 4rem 1rem;
}

.head_container {
  text-align: center;
}

.head_container > h2 {
  font-size: 2rem;
}

.head_container > img {
  
  margin: 10px 0;
}

.head_container > p {
  font-size: 14px;
  color: #afafaf;
}
.clasess_content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 2rem;
}
.button_container {
  width: 28%;
  margin-right: 2rem;
}
.button_container > button {
  margin-bottom: 2rem;
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  gap: 1rem;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
}
.training_class_content {
  width: 65%;
}
.training_class_content {
  display: flex;
  flex-direction: column;
}
.training_class_content > h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.training_class_content > p {
  font-size: 13px;
  color: #afafaf;
}
.training_class_content > button {
  width: 180px;
  padding: 10px;
  border: none;
  background-color: #ed563b;
  color: white;
  margin: 1rem 0;
}

.timetable_section {
  background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg);
  color: white;
  text-align: center;
  padding: 7rem 1rem;
}

.timetable_section > h1 {
  font-size: 2rem;
}

.timetable_section > img {
  margin: 10px 0;
}

.timetable_section > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 10px;
  flex-wrap: wrap;
}

.timetable_section > ul > li {
  transition: 0.3s ease;
}

.timetable_section > ul > li:nth-child(odd):hover {
  color: #ed563b;
  cursor: pointer;
}

.table_container {
  border: 1px solid white;
  max-width: 800px;
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.table_container > div {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 1.5rem 0;
}

.experts_section {
 
  padding: 7rem 1rem;
  text-align: center;
}

.experts_section > h1 {
  font-size: 2rem;
}

.experts_section > img {
  margin: 10px 0;
}

.expert_container {
  max-width: 1200px;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.expert {
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  text-align: left;
}

.expert > img {
  width: 100%;
}

.expert > span {
  font-size: 14px;
  color: #ed563b;
}

.expert > p {
  color: #afafaf;
  font-size: 15px;
  margin: 10px 0;
}

.expert > i {
  margin: 0 5px;
}

.contact_section {
  display: flex;
}

.map_container {
  width: 50%;
}

.form_container {
  width: 50%;
  background-image: url(https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  padding: 3rem 1rem;
}

.form_container > form {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: 80%;
  padding: 2rem;
}

.form_container > form > input,
.form_container > form > textarea {
  padding: 10px 20px;
}

.form_container > form > input[type="text"],
.form_container > form > textarea {
  grid-column: 1/3;
}

.form_container > form > button {
  width: 200px;
  padding: 1rem 0;
  background-color: #ed563b;
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .nav_content > ul {
    display: none;
  }

  .nav_menu {
    display: block;
  }

  .program_container {
    justify-content: center;
  }

  .form_container > form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .clasess_section {
    padding: 1rem;
  }
  .clasess_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button_container {
    width: 100%;
    margin: 0;
  }
  .training_class_content {
    width: 100%;
  }

  .expert_container {
    justify-content: center;
    gap: 2rem;
  }

  .contact_section {
    flex-direction: column;
  }

  .map_container {
    height: 400px;
  }

  .map_container,
  .form_container {
    width: 100%;
  }
}

@media only screen and (max-width: 280px) {
  .program {
    display: grid;
    place-items: center;
    text-align: center;
  }
}

